{% extends 'base.html' %}

{% block center %}

<!-- Section-->

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3 mb-3">

        <form action="" method="GET">
            <div class="input-group-prepend">
                <input class="form-control md-2" placeholder="Nome da empresa" type="text" name="nome_empresa">
                <div class="form-check mx-2 md-2">
                    <input class="form-check-input"  type="checkbox" id="gridCheck" value="True" name="quitado">
                    <label for="form-label">Quitado</label>
                    <input class="form-check-input"  type="checkbox" id="gridCheck" value="False" name="naoquitado">
                    <label for="form-label">Não quitado</label>
                </div>
                <input class="form-control md-2" placeholder="Valor do stand" type="text" name="valor">
                <input class="form-control md-2" placeholder="Data da reserva" type="date" name="data_reserva">
                <button type="submit" class="btn-outline-dark">Buscar</button>
            </div>
        </form>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-sx-1 justify-content-center">
            {% for reserva in reservas %}
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ reserva.nome_empresa }}</h5>
                            <div>
                                <p>Stand {{ reserva.stand }}</p>
                            </div>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="{% url 'detalhe_reserva' reserva.id %}">Detalhes da
                                    reserva</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}