{% extends 'base.html' %}

{% block center %}

<!-- Section-->

<section class="py-5">
    <div class="container px-4 px-lg-5 col-md-12 mt-3 mb-3">

        <form class="form-inline" action="" method="GET">
            <label class="sr-only" for="inlineFormInputName2">Nome</label>
            <input type="text" class="form-control mb-5 mr-sm-2" id="inlineFormInputName2" placeholder="Nome da empresa"
                name="nome_empresa">
            <div class="form-check mb-5 mr-sm-2">
                <input class="form-check-input m-1" type="checkbox" id="inlineFormCheck" value="True" name="quitado">
                <label class="form-check-label" for="inlineFormCheck">
                    Quitado
                </label>
                <input class="form-check-input m-2" type="checkbox" id="inlineFormCheck" value="False"
                    name="naoquitado">
                <label class="form-check-label" for="inlineFormCheck">
                    Não quitado
                </label>
            </div>
            <label class="sr-only" for="inlineFormInputName3">Valor</label>
            <input type="text" class="form-control mb-5 mr-sm-2" id="inlineFormInputName3" placeholder="Valor do stand"
                name="valor">
            <label class="sr-only" for="inlineFormInputName4">Data</label>
            <input type="date" class="form-control mb-5 mr-sm-2" id="inlineFormInputName4" placeholder="Data da reserva"
                name="data_reserva">
            <button type="submit" class="btn btn-primary mb-5">Buscar</button>
        </form>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-sx-1 justify-content-center">
            {% for reserva in pag_obj %}
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ reserva.nome_empresa }}</h5>
                            <div>
                                <p>Stand {{ reserva.stand }}</p>
                            </div>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="{% url 'detalhe_reserva' reserva.id %}">Detalhes da
                                    reserva</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <ul class="pagination justify-content-center">
                {% if pag_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ pag_obj.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                {% endif %}

                {% for p in pag_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}

                {% if pag_obj.has_next %}
                    <a href="?page={{ pag_obj.next_page_number }}" class="page-link">Próxima &raquo;</a>
                {% endif %}
        </ul>
    </div>
</section>

{% endblock %}